/* This is where we style and create the visual aspects of the game
*/


/* Styling for the whole program */
/* * {
    font-family: 'Chicle', cursive;
    text-align: center;
    /* background-image: url("Image Assets/CityBackground.png");
    background-position: center; /*Background image is centered at all times */
    /* background-repeat: no-repeat; /*Background image doesn't repeat and stretches to fit*/
    /* background-attachment:fixed;
    background-size:cover;
    -moz-background-size:cover; /*For Firefox compatibility */
    /* -webkit-background-size:cover; For Safari and Chrome compatibility */ 
    
/* } */

/* Styling for the game title */
/* h1 {
    background-color: hotpink;
    font-size: 70px;
    letter-spacing: 8px;
    color: white;
	-webkit-text-stroke: 1px #9e402b;
	text-shadow: 0px 4px 4px #9e402b;
} */

/* Creates the grid to generate the board and tetris blocks*/
/* .grid {
    display: grid; /* Generates a block-level grid */
    /* Defines the columns of the grid with a space-separated list of values which represent the track size, and the space between them represents the grid line */
    /* grid-template-columns: 500px 100px;  */
/* } */ 

/* .right-column {
    background-color: yellow;
    display: flex;
    flex-direction: column;
} */

/* .game-board {
    border: solid 8px;
} */

/* .play-button {
    color: black;
    font-size: 20px;
    padding: 15px 30px;
    cursor: pointer;
} */ 

* {
    font-family: 'Krona One', sans-serif;
  }
  
  .grid {
    display: grid;
    grid-template-columns: 320px 200px;
  }
  
  .right-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .game-board {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: solid 2px;
  }
  
  .play-button {
    display: inline-block;
    margin: 5px;
    padding: 15px 15px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: slategrey;
    background-color: #EFEFEF;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }

  .play-button:hover{
    background-color: wheat
}


  .play-button:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}