/* This is where we style and create the visual aspects of the game
*/

@import url('https://fonts.googleapis.com/css2?family=Galindo&family=Krona+One&display=swap');

/* Styling for the body */
body {
    font-family: 'Galindo', cursive;  
    background-image: url("Image Assets/CityBackground.png");
    background-position: center; /*Background image is centered at all times */
    background-repeat: no-repeat; /*Background image doesn't repeat and stretches to fit*/
    background-attachment:fixed;
    background-size:cover;
    -moz-background-size:cover; /*For Firefox compatibility */
    -webkit-background-size:cover; /*For Safari and Chrome compatibility */ 
  }
  
  /* Styling for the game title */
  .title {
    letter-spacing: 2px;
    font-size: 40px; 
  }

  .grid {
    display: grid;
    grid-template-columns: 350px 200px;
  }
  
  .right-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  #board {
    background-color: whitesmoke;
    opacity: 95%;
  }
  
  .game-board {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: solid 3px;
  }
  
  .play-button {
    display: inline-block;
    margin: 5px;
    padding: 15px 15px;
    font-size: 20px;
    font-weight: bolder;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #382b22;
    background-color: #fff;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #f9c4d2;
  }

  .play-button:hover{
    background-color: #ffe9e9;
}


  .play-button:active {
    box-shadow: 0 0 0 2px #b18597, 0 0 #b18597;
    transform: translateY(4px);
}

